NotificadorBccr/TestWCF/Connected Services/RespuestaSolicitudWCF/RespuestaDeSolicitud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RespuestaDeSolicitud" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IRespuestaDeSolicitud_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://firmadigital.dcicr.com:8443/RespuestaDeSolicitud.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://firmadigital.dcicr.com:8443/RespuestaDeSolicitud.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://firmadigital.dcicr.com:8443/RespuestaDeSolicitud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bccr.Firma.Fva.Entidad.Contenedores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRespuestaDeSolicitud_NotifiqueLaRespuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifiqueLaRespuesta" />
  </wsdl:message>
  <wsdl:message name="IRespuestaDeSolicitud_NotifiqueLaRespuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifiqueLaRespuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IRespuestaDeSolicitud_ValideElServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ValideElServicio" />
  </wsdl:message>
  <wsdl:message name="IRespuestaDeSolicitud_ValideElServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValideElServicioResponse" />
  </wsdl:message>
  <wsdl:portType name="IRespuestaDeSolicitud">
    <wsdl:operation name="NotifiqueLaRespuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IRespuestaDeSolicitud/NotifiqueLaRespuesta" message="tns:IRespuestaDeSolicitud_NotifiqueLaRespuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRespuestaDeSolicitud/NotifiqueLaRespuestaResponse" message="tns:IRespuestaDeSolicitud_NotifiqueLaRespuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValideElServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IRespuestaDeSolicitud/ValideElServicio" message="tns:IRespuestaDeSolicitud_ValideElServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRespuestaDeSolicitud/ValideElServicioResponse" message="tns:IRespuestaDeSolicitud_ValideElServicio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRespuestaDeSolicitud" type="tns:IRespuestaDeSolicitud">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifiqueLaRespuesta">
      <soap:operation soapAction="http://tempuri.org/IRespuestaDeSolicitud/NotifiqueLaRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValideElServicio">
      <soap:operation soapAction="http://tempuri.org/IRespuestaDeSolicitud/ValideElServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IRespuestaDeSolicitud" type="tns:IRespuestaDeSolicitud">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IRespuestaDeSolicitud_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifiqueLaRespuesta">
      <soap:operation soapAction="http://tempuri.org/IRespuestaDeSolicitud/NotifiqueLaRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValideElServicio">
      <soap:operation soapAction="http://tempuri.org/IRespuestaDeSolicitud/ValideElServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RespuestaDeSolicitud">
    <wsdl:port name="BasicHttpBinding_IRespuestaDeSolicitud" binding="tns:BasicHttpBinding_IRespuestaDeSolicitud">
      <soap:address location="http://vm-fdservice-01:8444/RespuestaDeSolicitud.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IRespuestaDeSolicitud" binding="tns:BasicHttpsBinding_IRespuestaDeSolicitud">
      <soap:address location="https://firmadigital.dcicr.com:8443/RespuestaDeSolicitud.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>