NotificadorBccr/TestWCF/Connected Services/RespuestaSolicitudWCF/RespuestaDeSolicitud1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://firmadigital.dcicr.com:8443/RespuestaDeSolicitud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bccr.Firma.Fva.Entidad.Contenedores" />
  <xs:element name="NotifiqueLaRespuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bccr.Firma.Fva.Entidad.Contenedores" minOccurs="0" name="elResultado" nillable="true" type="q1:ResultadoDeFirma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifiqueLaRespuestaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideElServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideElServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValideElServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>